<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP6_JJOO_Entenza_Jolodovsky_Kovadloff</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP6_JJOO_Entenza_Jolodovsky_Kovadloff.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
            <a href='@Url.Action("Index","Home")'><img></a>
            <a href='@Url.Action("Index","Home")'><li>Historia</li></a>
            <a href='@Url.Action("Deportes","Home")'><li>Deportes</li></a>
            <a href='@Url.Action("Index","Home")'><li>Países</li></a>
            <a href='@Url.Action("Index","Home")'><li>Agregar</li></a>
            <a href='@Url.Action("Index","Home")'><li>Créditos</li></a>
            </ul>
        </nav>
    </header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
