@{
    ViewData["Title"]="Paises";
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}

<h1>Países</h1>
<p>Los países participantes son:</p>
<div class="ContenedorTarjetas">
        @{
            foreach(Pais paisisisi in ViewBag.ListaPaises){
        <div class="Tarjeta">
            <h2>@paisisisi.Nombre</h2>
            <a href='@Url.Action("VerDetallePais","Home", new {IdPais = paisisisi.IdPais})'>
            <img src="@paisisisi.Bandera" alt="Bandera de @paisisisi.Nombre">
            </a>
            <p> Fundando en: @paisisisi.FechaFundacion.ToShortDateString()</p>
        </div>
            }
}
    </div>